<div class="row">
    <div class="col-5">
        <img class="image" [src]="restaurant?.Image" alt="Product image"/>
    </div>
    <div class="col-7 details">
        <h1>
            {{restaurant?.Brand}}

            <button class="btn btn-outline-secondary float-right" (click)="navigateBack()">Back</button>
        </h1>
                            
        <p>{{restaurant?.Variety}}</p>

        <dl>
            <dt>Country:</dt>
            <dd>{{restaurant?.Country}}</dd>
            <dt>Style:</dt>
            <dd>{{restaurant?.Style}}</dd>
        </dl>
        <dl>
            <dt>Top Ten:</dt>
            <dd>{{restaurant['Top Ten']}}</dd>
            <dt>Stars:</dt>
            <dd>{{restaurant?.Stars}}</dd>
            
        </dl>
    </div>
</div>